# Flutter folders to ignore
/android/
/ios/
/windows/
/linux/
/macos/
/flutter/
.dart_tool/
.pub/
.idea/
.vercel/
node_modules/

# Allow essential project folders
!/lib/
!/web/
!/assets/

# Keep build/web but ignore other build artifacts
/build/*
!/build/web/
!/build/web/**
